main{
    background-image: url(/web/img/wrappers.png);
    width: auto;
    height: 800px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
