/*шапка*/
header {
    font-family: 'Afacad';
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E9D8CA;
    padding: 20px 40px;
    border-radius: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 60px;
    width: auto;
}

header>nav {
    display: flex;
    gap: 70px;
}

header>nav li {
    list-style: none;
}

header>nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
}

header>nav a:hover {
    color: #775F5F;
}

.account {
    position: relative;
    display: flex;
    align-items: center;
}

.account-toggle {
    display: none;
}

.account-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    transition: transform 0.3s;
}

.account-icon:hover {
    transform: scale(1.05);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #917d79 !important;
    width: 151px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    display: none;
    z-index: 1000;
    padding: 10px 0;
    margin-top: 10px;
}

.dropdown-menu nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.dropdown-menu nav li {
    width: 100%;
    text-align: center;
    list-style: none;
}

.dropdown-menu nav a {
    display: block;
    padding: 8px 15px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.dropdown-menu nav a:hover {
    background-color: #8a6f6f !important;
}

.account-toggle:checked~.dropdown-menu {
    display: block;
}

/*Регистрация*/
.register {
    background-image: url(/web/img/wrappers.png);
    width: auto;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 480px;
    background: linear-gradient(#F8DCC4, #C79A7A);

}

#form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-title {
    text-align: center;
    font-family: 'PoiretOne';
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}

.input-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input-label {
    display: flex;
    justify-self: flex-start;
    margin: 0px 30px;
    /* margin-bottom: 8px; */
    font-weight: bold;
    color: #000000;
    text-align: right;
    font-family: 'PoiretOne';
    font-size: 20px;
    height: 45px;
    width: 400px;
}

.regist {
    display: flex;
    justify-content: flex-start;
}


.input-field {
    width: 80%;
    /* padding: 0 30px; */
    /* width: 80%; */
    padding: 12px 15px;
    border: 2px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.input-field:focus {
    border-color: #775F5F;
    outline: none;
}


.register-link {
    text-align: center;
    margin: 25px 0;
}

.register-link a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.register-link a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.register-btn {
    width: 100%;
    padding: 17px;
    font-family: 'PoiretOne';
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.register-btn:active {
    background-color: #781A1B;
    color: #ddd;
    font-family: 'PoiretOne';
    font-size: 20px;
}

.check {
    display: flex;
    align-items: center;
}

.check label {
    font-size: 18px;
    align-items: center;
}

.check input[type="checkbox"] {
    accent-color: #781A1B;
}


/*футер жесть*/
footer {
    background-color: #E9D8CA;
    padding-bottom: 20px;
}

.footer-style {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 80px;
    background-color: #E9D8CA;
}

.footer-1 {
    margin-top: 15px;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'PoiretOne';
}

.footer-2 {
    display: flex;
    justify-content: center;
    
}

.footer-3 {
    margin-top: 15px;
    text-align: right;
    padding-right: 20px;
    font-size: 16px;
    font-family: 'PoiretOne';
}
